.basic-carousel {
  max-width: 700px;
}

.basic-carousel__container {
  overflow: hidden;
  overflow-x: scroll;
}

.basic-carousel__wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform ease .3s;
}

.basic-carousel__item {
  flex-shrink: 0;
  width: 100%;
}
